<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>discord bot</title>
    <!-- Bootstrap CSS CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/css/styles.css" rel="stylesheet">
    <link rel="icon" href="path/to/your/favicon.ico" type="image/x-icon">
</head>
<body>
    <nav id="bar" class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
            <div class="navbaritems">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="aboutme">About me</a>
                    </li>
                    <li>
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Projects
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/discordbot">discord bot</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/banksite">banking site</a>       
                        </div>
                    </li>
                </ul>
        </div>
        </div>
    </nav>
    <div>
        <li>
            <img src="/img/denmelk-237d8684-656a-4f18-959f-ee0494ce8600.jpg" alt="">
        </li>
        <li class="para">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint culpa, reprehenderit recusandae aliquid itaque voluptates molestias eligendi aut quod optio sed earum numquam inventore maiores placeat eum illo quasi iste?
            Aspernatur amet libero ipsam dolore distinctio dolorem necessitatibus atque. Minima nisi, repellendus unde voluptates doloribus accusantium a magnam eos ex perferendis molestias at hic, necessitatibus optio non sit recusandae quae.
            Quisquam doloremque quidem debitis alias repellat corporis et recusandae voluptate minus. Veniam culpa consectetur in perspiciatis cumque! Placeat cupiditate, reiciendis dolorem inventore iure iste nobis nulla quaerat qui commodi veniam!
            Modi accusantium consequuntur beatae dicta sequi, sint exercitationem incidunt perferendis sapiente facere dolores, saepe, autem iusto! Id quas iste rem, debitis deserunt vitae ratione autem earum voluptas praesentium cumque laborum.
            Exercitationem hic eius doloremque! Nam, alias ullam ab beatae nesciunt totam quae cum distinctio maxime impedit deserunt, incidunt natus sint eos ipsa minima tenetur animi, dolor voluptatum. Magnam, harum voluptatem.
            Quam omnis dolorem reprehenderit, inventore vitae totam tempore odit labore cumque voluptate dolor blanditiis consectetur nisi, corporis facere repudiandae laudantium facilis perspiciatis nulla est consequatur aperiam nam rem! Delectus, ab.</p>
        </li>
    </div>
            <!-- Bootstrap JS, Popper.js, and jQuery CDN -->
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
    </body>
</body>
</html>